In [1]:
import pandas as pd

# 데이터 경로

data_path = './cat-in-the-dat/'

train = pd.read_csv(data_path + 'train.csv' , index_col = 'id')
test = pd.read_csv(data_path + 'test.csv' , index_col = 'id')
submission = pd.read_csv(data_path + 'sample_submission.csv' , index_col = 'id')

train

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0,0,0,T,N,Red,Trapezoid,Snake,India,Oboe,...,e027decef,1,Contributor,Freezing,k,K,dh,3,8,0
299996,0,0,0,F,Y,Green,Trapezoid,Lion,Russia,Piano,...,80f1411c8,2,Novice,Freezing,h,W,MO,3,2,0
299997,0,0,0,F,Y,Blue,Star,Axolotl,Russia,Oboe,...,314dcc15b,3,Novice,Boiling Hot,o,A,Bn,7,9,1
299998,0,1,0,F,Y,Green,Square,Axolotl,Costa Rica,Piano,...,ab0ce192b,1,Master,Boiling Hot,h,W,uJ,3,8,1
299999,0,0,0,F,Y,Blue,Trapezoid,Dog,Russia,Bassoon,...,ad1af2b45,3,Contributor,Freezing,i,R,tP,1,3,0

In [2]:
all_data = pd.concat([train , test])
all_data = all_data.drop('target' , axis = 1) # 타깃값 제거

all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,F,N,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,Novice,Lava Hot,j,A,Gb,1,3
499996,1,0,0,F,Y,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,Contributor,Lava Hot,f,S,Ed,2,2
499997,0,1,1,T,Y,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,Novice,Boiling Hot,g,V,TR,3,1
499998,1,0,0,T,Y,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,Grandmaster,Boiling Hot,g,X,Ye,2,1
499999,0,0,0,T,Y,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,Novice,Freezing,l,J,ex,2,2

## 이진 피처 인코딩

In [3]:
# bin_3 , bin_4 피처에는 각각 T와 F , Y와 N이라는 문자로 구성되어 있다. 각각 1과 0으로 바꾼다.

all_data['bin_3'] = all_data['bin_3'].map({'F' : 0 , 'T' : 1})
all_data['bin_4'] = all_data['bin_4'].map({'N' : 0 , 'Y' : 1})

all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2
1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8
2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2
3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1
4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,0,0,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,Novice,Lava Hot,j,A,Gb,1,3
499996,1,0,0,0,1,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,Contributor,Lava Hot,f,S,Ed,2,2
499997,0,1,1,1,1,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,Novice,Boiling Hot,g,V,TR,3,1
499998,1,0,0,1,1,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,Grandmaster,Boiling Hot,g,X,Ye,2,1
499999,0,0,0,1,1,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,Novice,Freezing,l,J,ex,2,2

## 순서형 피처 인코딩

In [4]:
ord1dict = {'Novice' : 0 , 'Contributor' : 1 , 'Expert' : 2, 'Master' : 3 , 'Grandmaster' : 4}

ord2dict = {'Freezing' : 0 , 'Cold' : 1 , 'Warm' :2 , 'Hot' : 3 , 'Boiling Hot' : 4 , 'Lava Hot' : 5}

all_data['ord_1'] = all_data['ord_1'].map(ord1dict)
all_data['ord_2']= all_data['ord_2'].map(ord2dict)

all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,4,1,h,D,kr,2,2
1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,4,3,a,A,bF,7,8
2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,2,5,h,R,Jc,7,2
3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,4,4,i,D,kW,2,1
4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,4,0,a,R,qP,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,0,0,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,0,5,j,A,Gb,1,3
499996,1,0,0,0,1,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,1,5,f,S,Ed,2,2
499997,0,1,1,1,1,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,0,4,g,V,TR,3,1
499998,1,0,0,1,1,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,4,4,g,X,Ye,2,1
499999,0,0,0,1,1,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,0,0,l,J,ex,2,2

In [5]:
# ord_3 , ord_4 , ord_5 피처들은 알파벳 순서대로 인코딩해야 한다. 사이킷런의 OrdinalEncoder를 사용하면 된다.

from sklearn.preprocessing import OrdinalEncoder

ord_345 = ['ord_3' , 'ord_4' , 'ord_5']

ord_encoder = OrdinalEncoder() # OrdinalEncoder 객체 생성

#ordinal 인코딩 적용

all_data[ord_345] = ord_encoder.fit_transform(all_data[ord_345])

# 피처별 인코딩 순서 출력

for feature, categories in zip(ord_345 , ord_encoder.categories_):
    print(feature)
    print(categories)

all_data[ord_345]

# 알파벳 순으로 인코딩했기 때문에 a는 0.0 b는 1.0 , c는 2.0 , d는 3.0 식으로 바뀌었다.

ord_3
['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o']
ord_4
['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O' 'P' 'Q' 'R'
 'S' 'T' 'U' 'V' 'W' 'X' 'Y' 'Z']
ord_5
['AP' 'Ai' 'Aj' 'BA' 'BE' 'Bb' 'Bd' 'Bn' 'CL' 'CM' 'CU' 'CZ' 'Cl' 'DH'
 'DN' 'Dc' 'Dx' 'Ed' 'Eg' 'Er' 'FI' 'Fd' 'Fo' 'GD' 'GJ' 'Gb' 'Gx' 'Hj'
 'IK' 'Id' 'JX' 'Jc' 'Jf' 'Jt' 'KR' 'KZ' 'Kf' 'Kq' 'LE' 'MC' 'MO' 'MV'
 'Mf' 'Ml' 'Mx' 'NV' 'Nf' 'Nk' 'OR' 'Ob' 'Os' 'PA' 'PQ' 'PZ' 'Ps' 'QM'
 'Qb' 'Qh' 'Qo' 'RG' 'RL' 'RP' 'Rm' 'Ry' 'SB' 'Sc' 'TR' 'TZ' 'To' 'UO'
 'Uk' 'Uu' 'Vf' 'Vx' 'WE' 'Wc' 'Wv' 'XI' 'Xh' 'Xi' 'YC' 'Yb' 'Ye' 'ZR'
 'ZS' 'Zc' 'Zq' 'aF' 'aM' 'aO' 'aP' 'ac' 'av' 'bF' 'bJ' 'be' 'cA' 'cG'
 'cW' 'ck' 'cp' 'dB' 'dE' 'dN' 'dO' 'dP' 'dQ' 'dZ' 'dh' 'eG' 'eQ' 'eb'
 'eg' 'ek' 'ex' 'fO' 'fh' 'gJ' 'gM' 'hL' 'hT' 'hh' 'hp' 'iT' 'ih' 'jS'
 'jV' 'je' 'jp' 'kC' 'kE' 'kK' 'kL' 'kU' 'kW' 'ke' 'kr' 'kw' 'lF' 'lL'
 'll' 'lx' 'mb' 'mc' 'mm' 'nX' 'nh' 'oC' 'oG' 'oH' 'oK' 'od' 'on' 'pa'
 'ps' 'qA' 'qJ' 'qK' 'qP' 'qX' 'qo' 'qv' 'qw' 'rZ' 'ri' 'rp' 'sD' 'sV'
 'sY' 'sn' 'su' 'tM' 'tP' 'tv' 'uJ' 'uS' 'ud' 'us' 'ut' 'ux' 'uy' 'vK'
 'vq' 'vy' 'wu' 'wy' 'xP' 'xy' 'yN' 'yY' 'yc' 'zU']

        ord_3  ord_4  ord_5
id
0         7.0    3.0  136.0
1         0.0    0.0   93.0
2         7.0   17.0   31.0
3         8.0    3.0  134.0
4         0.0   17.0  158.0
...       ...    ...    ...
499995    9.0    0.0   25.0
499996    5.0   18.0   17.0
499997    6.0   21.0   66.0
499998    6.0   23.0   82.0
499999   11.0    9.0  114.0

[500000 rows x 3 columns]

## 명목형 피처 인코딩

In [6]:
# 명목형 피처는 순서를 무시해도 되기 때문에 원-핫 인코딩을 적용할 수 있다.

nom_features = ['nom_' + str(i) for i in range(10)] # 명목형 피처

# 지능형 리스트는 코드 한 줄로 새로운 리스트를 만드는 문법 구조

In [7]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder()
#all_data[nom_features] = onehot_encoder.fit_transform(all_data[nom_features])
# nom_features 10개에 대한 값을 OneHot Encoding하는데, 명목형 피처의 행렬크기가 엄청 많아지게 된다.

encoded_nom_matrix = onehot_encoder.fit_transform(all_data[nom_features])

encoded_nom_matrix

<500000x16276 sparse matrix of type '<class 'numpy.float64'>'
	with 5000000 stored elements in Compressed Sparse Row format>

In [8]:
# 명목형 피처의 원-핫 인코딩한 결과를 encoded_nom_matrix 에 저장했다. 이는 CSR 형식의 행렬이다.

all_data = all_data.drop(nom_features , axis =1) # 기존 명목형 피처 삭제

# encoded_nom_matrix 와 추후 합칠거기 때문

In [9]:
date_features = ['day',  'month'] # 날짜 피처

# 원-핫 인코딩 적용

encoded_date_matrix = onehot_encoder.fit_transform(all_data[date_features])

all_data = all_data.drop(date_features , axis= 1)  # 기존 날짜 피처 삭제

encoded_date_matrix

# 원-핫 인코딩된 행렬 크기는 500000*19 이다. day 피처 고윳값은 7개 , month 피처 고윳값은 12개라서 인코딩 이후 열이 총 19개가 되었다.

<500000x19 sparse matrix of type '<class 'numpy.float64'>'
	with 1000000 stored elements in Compressed Sparse Row format>

## 피처 스케일링

## 순서형 피처 스케일링

In [10]:
from sklearn.preprocessing import MinMaxScaler

ord_features = ['ord_' + str(i) for i in range(6)] # 순서형 피처

# min-max 정규화

all_data[ord_features] = MinMaxScaler().fit_transform(all_data[ord_features])

all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5
id,,,,,,,,,,,
0,0,0,0,1,1,0.5,1.00,0.2,0.500000,0.12,0.712042
1,0,1,0,1,1,0.0,1.00,0.6,0.000000,0.00,0.486911
2,0,0,0,0,1,0.0,0.50,1.0,0.500000,0.68,0.162304
3,0,1,0,0,1,0.0,1.00,0.8,0.571429,0.12,0.701571
4,0,0,0,0,0,0.0,1.00,0.0,0.000000,0.68,0.827225
...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,0,0,0.0,0.00,1.0,0.642857,0.00,0.130890
499996,1,0,0,0,1,0.0,0.25,1.0,0.357143,0.72,0.089005
499997,0,1,1,1,1,0.0,0.00,0.8,0.428571,0.84,0.345550
499998,1,0,0,1,1,0.5,1.00,0.8,0.428571,0.92,0.429319
499999,0,0,0,1,1,0.5,0.00,0.0,0.785714,0.36,0.596859

## 인코딩 및 스케일링된 피처 합치기

In [11]:
# 현재 all_data에는 이진 피처와 순서형 피처가 인코딩돼 있다. 명목형 피처와 날짜 피처는 원-핫 인코딩되어
# 각각 encoded_nom_matrix 와 encoded_date_matrix에 저장돼 있다.

#이 3가지의 데이터를 합쳐야한다.

# encoded_nom_matrix와 encoded_date_matrix는 CSR 형식으로 서로 맞추어야한다.

# SCIPY의 csr_matrix()는 전달받은 데이터를 CSR 형식으로 바꿔준다.

from scipy import sparse

all_data_sprs = sparse.hstack([sparse.csr_matrix(all_data) ,
                               encoded_nom_matrix,
                               encoded_date_matrix],
                              format='csr')
# hstack()은 행렬을 수평 방향으로 합친다.
# format = 'csr'을 전달하면 합친 결과를 CSR 형식으로 반환한다.(기본값은 COO 형식이다.)

all_data_sprs

# 이 정도 크기를 DATAFRAME 으로 처리하면 메모리 소모가 심하고 훈련 속도도 떨어진다.

# 따라서 DataFrame으로 변환하지 않고 CSR 형식을 그대로 사용한다.

<500000x16306 sparse matrix of type '<class 'numpy.float64'>'
	with 9163718 stored elements in Compressed Sparse Row format>

## 데이터 나누기

In [12]:
num_train = len(train) # 훈련 데이터 개수

# 훈련 데이터와 테스트 데이터 나누기

X_train = all_data_sprs[:num_train] # 0 ~ num_train -1 행
X_test = all_data_sprs[num_train :] # num_train ~ 마지막 행

y = train['target']

In [18]:
from sklearn.model_selection import train_test_split

# 훈련 데이터, 검증 데이터 분리

X_train , X_valid , y_train , y_valid = train_test_split(X_train, y , test_size=0.0001 , stratify=y, random_state= 10)