In [45]:
import pandas as pd

data_path = './cat-in-the-dat/'

train = pd.read_csv(data_path + 'train.csv' , index_col = 'id')
test = pd.read_csv(data_path + 'test.csv' , index_col = 'id')
submission = pd.read_csv(data_path + 'sample_submission.csv' , index_col= 'id')

train

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0,0,0,T,N,Red,Trapezoid,Snake,India,Oboe,...,e027decef,1,Contributor,Freezing,k,K,dh,3,8,0
299996,0,0,0,F,Y,Green,Trapezoid,Lion,Russia,Piano,...,80f1411c8,2,Novice,Freezing,h,W,MO,3,2,0
299997,0,0,0,F,Y,Blue,Star,Axolotl,Russia,Oboe,...,314dcc15b,3,Novice,Boiling Hot,o,A,Bn,7,9,1
299998,0,1,0,F,Y,Green,Square,Axolotl,Costa Rica,Piano,...,ab0ce192b,1,Master,Boiling Hot,h,W,uJ,3,8,1
299999,0,0,0,F,Y,Blue,Trapezoid,Dog,Russia,Bassoon,...,ad1af2b45,3,Contributor,Freezing,i,R,tP,1,3,0

In [46]:
all_data = pd.concat([train , test]) # 훈련 데이터와 테스트 데이터 합치기
all_data = all_data.drop('target' , axis =1) # 타깃값 제거
all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,F,N,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,Novice,Lava Hot,j,A,Gb,1,3
499996,1,0,0,F,Y,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,Contributor,Lava Hot,f,S,Ed,2,2
499997,0,1,1,T,Y,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,Novice,Boiling Hot,g,V,TR,3,1
499998,1,0,0,T,Y,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,Grandmaster,Boiling Hot,g,X,Ye,2,1
499999,0,0,0,T,Y,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,Novice,Freezing,l,J,ex,2,2

## 원 핫 인코딩

In [47]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder() # 원 - 핫 인코더 생성
all_data_encoded = encoder.fit_transform(all_data) # 원 핫 인코딩 적용

all_data_encoded

<500000x16552 sparse matrix of type '<class 'numpy.float64'>'
	with 11500000 stored elements in Compressed Sparse Row format>

In [48]:
train.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [49]:
all_data_encoded[:2]

<2x16552 sparse matrix of type '<class 'numpy.float64'>'
	with 46 stored elements in Compressed Sparse Row format>

In [50]:
pd.DataFrame(all_data_encoded)

                                                        0
0         (0, 0)\t1.0\n  (0, 2)\t1.0\n  (0, 4)\t1.0\n ...
1         (0, 0)\t1.0\n  (0, 3)\t1.0\n  (0, 4)\t1.0\n ...
2         (0, 0)\t1.0\n  (0, 2)\t1.0\n  (0, 4)\t1.0\n ...
3         (0, 0)\t1.0\n  (0, 3)\t1.0\n  (0, 4)\t1.0\n ...
4         (0, 0)\t1.0\n  (0, 2)\t1.0\n  (0, 4)\t1.0\n ...
...                                                   ...
499995    (0, 0)\t1.0\n  (0, 2)\t1.0\n  (0, 4)\t1.0\n ...
499996    (0, 1)\t1.0\n  (0, 2)\t1.0\n  (0, 4)\t1.0\n ...
499997    (0, 0)\t1.0\n  (0, 3)\t1.0\n  (0, 5)\t1.0\n ...
499998    (0, 1)\t1.0\n  (0, 2)\t1.0\n  (0, 4)\t1.0\n ...
499999    (0, 0)\t1.0\n  (0, 2)\t1.0\n  (0, 4)\t1.0\n ...

[500000 rows x 1 columns]

In [51]:
print(all_data_encoded)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 4)	1.0
  (0, 7)	1.0
  (0, 9)	1.0
  (0, 11)	1.0
  (0, 18)	1.0
  (0, 24)	1.0
  (0, 28)	1.0
  (0, 31)	1.0
  (0, 113)	1.0
  (0, 377)	1.0
  (0, 1270)	1.0
  (0, 3688)	1.0
  (0, 6410)	1.0
  (0, 16287)	1.0
  (0, 16291)	1.0
  (0, 16295)	1.0
  (0, 16307)	1.0
  (0, 16318)	1.0
  (0, 16477)	1.0
  (0, 16534)	1.0
  (0, 16541)	1.0
  (1, 0)	1.0
  (1, 3)	1.0
  :	:
  (499998, 16534)	1.0
  (499998, 16540)	1.0
  (499999, 0)	1.0
  (499999, 2)	1.0
  (499999, 4)	1.0
  (499999, 7)	1.0
  (499999, 9)	1.0
  (499999, 11)	1.0
  (499999, 16)	1.0
  (499999, 23)	1.0
  (499999, 29)	1.0
  (499999, 33)	1.0
  (499999, 186)	1.0
  (499999, 647)	1.0
  (499999, 1559)	1.0
  (499999, 2667)	1.0
  (499999, 6320)	1.0
  (499999, 16287)	1.0
  (499999, 16293)	1.0
  (499999, 16296)	1.0
  (499999, 16311)	1.0
  (499999, 16324)	1.0
  (499999, 16455)	1.0
  (499999, 16534)	1.0
  (499999, 16541)	1.0

In [52]:
num_train = len(train) # 훈련 데이터 개수

# 훈련 데이터와 테스트 데이터 나누기

X_train = all_data_encoded[:num_train] # 0 ~ num_train - 1행
X_test = all_data_encoded[num_train :] # num_train ~ 마지막 행

y = train['target']

In [53]:
from sklearn.model_selection import train_test_split

# 훈련 데이터 , 검증 데이터 분리

X_train , X_valid , y_train , y_valid = train_test_split(X_train , y ,
                                                         test_size=0.1, stratify=y , random_state=10)
# test_size = 0.1은 10%를 검증 데이터로 분리하겠다는 의미이다.

# stratify 파라미터로 지정한 값을 각 그룹에 '공정하게' 배분한다는 뜻이다.
# 타깃값인 y를 전달했으므로 타깃값이 훈련 데이터와 검증 데이터에 같은 비율로 포함되게끔 나눠준다.
# stratify 값에 타깃값을 넘겨주는 것이 바람직하다.

## 모델 훈련

In [54]:
from sklearn.linear_model import LogisticRegression

# 선형 회귀 방식을 응용해 분류를 수행하는 로지스틱 회귀 모델

logistic_model = LogisticRegression(max_iter= 1000 , random_state= 42) # 모델 생성
logistic_model.fit(X_train , y_train) # 모델 훈련

# max_iter : 모델의 회귀 계수를 업데이트하는 반복 횟수 , 모델 훈련 시 회귀 계수를 업데이트 하면서 훈련하는데,
# 이때 업데이트를 몇 번 할지를 정한다.

# random_state: 값을 지정하면 여러 번 실행해도 매번 똑같은 결과가 나온다. 아무 값으로 지정해도 상관없다.

LogisticRegression(max_iter=1000, random_state=42)

In [55]:
logistic_model.predict_proba(X_valid) # 검증 데이터의 타깃값이 0 또는 1일 확률을 예측한 결과

# 사이킷런의 타깃값 예측 메서드를 2가지 제공한다.
# predict() 와 predict_proba()이다.
# predict() 메서드는 타깃값 자체(0이냐 1이냐)를 예측한다. 반면 predict_proba()는 타깃값의 확률(0일 확률과 1일 확률)을 예측한다.

array([[0.23275431, 0.76724569],
       [0.91415122, 0.08584878],
       [0.83019006, 0.16980994],
       ...,
       [0.2484274 , 0.7515726 ],
       [0.49443099, 0.50556901],
       [0.95658974, 0.04341026]])

In [56]:
y_valid_preds = logistic_model.predict_proba(X_valid)[:,1]
#y_valid_preds 변수에는 검증 데이터 타깃값이 1일 확률이 저장된다.
y_valid_preds

array([0.76724569, 0.08584878, 0.16980994, ..., 0.7515726 , 0.50556901,
       0.04341026])

In [57]:
# 타깃 예측값인 y_valid_preds 와 실제 타깃값인 y_valid 를 이용해 ROC AUC를 구하여 모델 성능을 검증한다.

from sklearn.metrics import roc_auc_score # ROC AUC 점수 계산 함수

# 검증 데이터 ROC AUC
roc_auc = roc_auc_score(y_valid , y_valid_preds)

print(f'검증 데이터 ROC AUC : {roc_auc : .4f}')

검증 데이터 ROC AUC :  0.7965

## 예측 및 결과 제출

In [58]:
# 타깃값 1일 확률 예측

y_preds = logistic_model.predict_proba(X_test)[:,1]

submission['target'] = y_preds
submission.to_csv('submission.csv')

In [59]:
submission

          target
id
300000  0.308392
300001  0.698886
300002  0.067944
300003  0.445175
300004  0.893205
...          ...
499995  0.311681
499996  0.142428
499997  0.406044
499998  0.491666
499999  0.186162

[200000 rows x 1 columns]

## 성능 개선 1

In [60]:
# 1. 피처 엔지니어링 진행 ==> 피처 스케일링

# 2. 하이퍼파라미터의 최적화

In [61]:
import pandas as pd

# 데이터 경로

data_path = './cat-in-the-dat/'

train = pd.read_csv(data_path + 'train.csv' , index_col = 'id')
test = pd.read_csv(data_path + 'test.csv' , index_col = 'id')
submission = pd.read_csv(data_path + 'sample_submission.csv' , index_col = 'id')

train

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0,0,0,T,N,Red,Trapezoid,Snake,India,Oboe,...,e027decef,1,Contributor,Freezing,k,K,dh,3,8,0
299996,0,0,0,F,Y,Green,Trapezoid,Lion,Russia,Piano,...,80f1411c8,2,Novice,Freezing,h,W,MO,3,2,0
299997,0,0,0,F,Y,Blue,Star,Axolotl,Russia,Oboe,...,314dcc15b,3,Novice,Boiling Hot,o,A,Bn,7,9,1
299998,0,1,0,F,Y,Green,Square,Axolotl,Costa Rica,Piano,...,ab0ce192b,1,Master,Boiling Hot,h,W,uJ,3,8,1
299999,0,0,0,F,Y,Blue,Trapezoid,Dog,Russia,Bassoon,...,ad1af2b45,3,Contributor,Freezing,i,R,tP,1,3,0

In [62]:
all_data = pd.concat([train , test])
all_data = all_data.drop('target' , axis = 1) # 타깃값 제거

all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,F,N,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,Novice,Lava Hot,j,A,Gb,1,3
499996,1,0,0,F,Y,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,Contributor,Lava Hot,f,S,Ed,2,2
499997,0,1,1,T,Y,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,Novice,Boiling Hot,g,V,TR,3,1
499998,1,0,0,T,Y,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,Grandmaster,Boiling Hot,g,X,Ye,2,1
499999,0,0,0,T,Y,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,Novice,Freezing,l,J,ex,2,2

## 이진 피처 인코딩

In [63]:
# bin_3 , bin_4 피처에는 각각 T와 F , Y와 N이라는 문자로 구성되어 있다. 각각 1과 0으로 바꾼다.

all_data['bin_3'] = all_data['bin_3'].map({'F' : 0 , 'T' : 1})
all_data['bin_4'] = all_data['bin_4'].map({'N' : 0 , 'Y' : 1})

all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2
1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8
2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2
3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1
4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,0,0,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,Novice,Lava Hot,j,A,Gb,1,3
499996,1,0,0,0,1,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,Contributor,Lava Hot,f,S,Ed,2,2
499997,0,1,1,1,1,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,Novice,Boiling Hot,g,V,TR,3,1
499998,1,0,0,1,1,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,Grandmaster,Boiling Hot,g,X,Ye,2,1
499999,0,0,0,1,1,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,Novice,Freezing,l,J,ex,2,2

## 순서형 피처 인코딩

In [64]:
ord1dict = {'Novice' : 0 , 'Contributor' : 1 , 'Expert' : 2, 'Master' : 3 , 'Grandmaster' : 4}

ord2dict = {'Freezing' : 0 , 'Cold' : 1 , 'Warm' :2 , 'Hot' : 3 , 'Boiling Hot' : 4 , 'Lava Hot' : 5}

all_data['ord_1'] = all_data['ord_1'].map(ord1dict)
all_data['ord_2']= all_data['ord_2'].map(ord2dict)

all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,4,1,h,D,kr,2,2
1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,4,3,a,A,bF,7,8
2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,2,5,h,R,Jc,7,2
3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,4,4,i,D,kW,2,1
4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,4,0,a,R,qP,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,0,0,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,0,5,j,A,Gb,1,3
499996,1,0,0,0,1,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,1,5,f,S,Ed,2,2
499997,0,1,1,1,1,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,0,4,g,V,TR,3,1
499998,1,0,0,1,1,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,4,4,g,X,Ye,2,1
499999,0,0,0,1,1,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,0,0,l,J,ex,2,2

In [65]:
# ord_3 , ord_4 , ord_5 피처들은 알파벳 순서대로 인코딩해야 한다. 사이킷런의 OrdinalEncoder를 사용하면 된다.

from sklearn.preprocessing import OrdinalEncoder

ord_345 = ['ord_3' , 'ord_4' , 'ord_5']

ord_encoder = OrdinalEncoder() # OrdinalEncoder 객체 생성

#ordinal 인코딩 적용

all_data[ord_345] = ord_encoder.fit_transform(all_data[ord_345])

# 피처별 인코딩 순서 출력

for feature, categories in zip(ord_345 , ord_encoder.categories_):
    print(feature)
    print(categories)

all_data[ord_345]

# 알파벳 순으로 인코딩했기 때문에 a는 0.0 b는 1.0 , c는 2.0 , d는 3.0 식으로 바뀌었다.

ord_3
['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o']
ord_4
['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O' 'P' 'Q' 'R'
 'S' 'T' 'U' 'V' 'W' 'X' 'Y' 'Z']
ord_5
['AP' 'Ai' 'Aj' 'BA' 'BE' 'Bb' 'Bd' 'Bn' 'CL' 'CM' 'CU' 'CZ' 'Cl' 'DH'
 'DN' 'Dc' 'Dx' 'Ed' 'Eg' 'Er' 'FI' 'Fd' 'Fo' 'GD' 'GJ' 'Gb' 'Gx' 'Hj'
 'IK' 'Id' 'JX' 'Jc' 'Jf' 'Jt' 'KR' 'KZ' 'Kf' 'Kq' 'LE' 'MC' 'MO' 'MV'
 'Mf' 'Ml' 'Mx' 'NV' 'Nf' 'Nk' 'OR' 'Ob' 'Os' 'PA' 'PQ' 'PZ' 'Ps' 'QM'
 'Qb' 'Qh' 'Qo' 'RG' 'RL' 'RP' 'Rm' 'Ry' 'SB' 'Sc' 'TR' 'TZ' 'To' 'UO'
 'Uk' 'Uu' 'Vf' 'Vx' 'WE' 'Wc' 'Wv' 'XI' 'Xh' 'Xi' 'YC' 'Yb' 'Ye' 'ZR'
 'ZS' 'Zc' 'Zq' 'aF' 'aM' 'aO' 'aP' 'ac' 'av' 'bF' 'bJ' 'be' 'cA' 'cG'
 'cW' 'ck' 'cp' 'dB' 'dE' 'dN' 'dO' 'dP' 'dQ' 'dZ' 'dh' 'eG' 'eQ' 'eb'
 'eg' 'ek' 'ex' 'fO' 'fh' 'gJ' 'gM' 'hL' 'hT' 'hh' 'hp' 'iT' 'ih' 'jS'
 'jV' 'je' 'jp' 'kC' 'kE' 'kK' 'kL' 'kU' 'kW' 'ke' 'kr' 'kw' 'lF' 'lL'
 'll' 'lx' 'mb' 'mc' 'mm' 'nX' 'nh' 'oC' 'oG' 'oH' 'oK' 'od' 'on' 'pa'
 'ps' 'qA' 'qJ' 'qK' 'qP' 'qX' 'qo' 'qv' 'qw' 'rZ' 'ri' 'rp' 'sD' 'sV'
 'sY' 'sn' 'su' 'tM' 'tP' 'tv' 'uJ' 'uS' 'ud' 'us' 'ut' 'ux' 'uy' 'vK'
 'vq' 'vy' 'wu' 'wy' 'xP' 'xy' 'yN' 'yY' 'yc' 'zU']

        ord_3  ord_4  ord_5
id
0         7.0    3.0  136.0
1         0.0    0.0   93.0
2         7.0   17.0   31.0
3         8.0    3.0  134.0
4         0.0   17.0  158.0
...       ...    ...    ...
499995    9.0    0.0   25.0
499996    5.0   18.0   17.0
499997    6.0   21.0   66.0
499998    6.0   23.0   82.0
499999   11.0    9.0  114.0

[500000 rows x 3 columns]

In [66]:
all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,4,1,7.0,3.0,136.0,2,2
1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,4,3,0.0,0.0,93.0,7,8
2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,2,5,7.0,17.0,31.0,7,2
3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,4,4,8.0,3.0,134.0,2,1
4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,4,0,0.0,17.0,158.0,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,0,0,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,0,5,9.0,0.0,25.0,1,3
499996,1,0,0,0,1,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,1,5,5.0,18.0,17.0,2,2
499997,0,1,1,1,1,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,0,4,6.0,21.0,66.0,3,1
499998,1,0,0,1,1,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,4,4,6.0,23.0,82.0,2,1
499999,0,0,0,1,1,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,0,0,11.0,9.0,114.0,2,2

## 명목형 피처 인코딩

In [67]:
# 명목형 피처는 순서를 무시해도 되기 때문에 원-핫 인코딩을 적용할 수 있다.

nom_features = ['nom_' + str(i) for i in range(10)] # 명목형 피처

# 지능형 리스트는 코드 한 줄로 새로운 리스트를 만드는 문법 구조

In [68]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder()
#all_data[nom_features] = onehot_encoder.fit_transform(all_data[nom_features])
# nom_features 10개에 대한 값을 OneHot Encoding하는데, 명목형 피처의 행렬크기가 엄청 많아지게 된다.

encoded_nom_matrix = onehot_encoder.fit_transform(all_data[nom_features])

encoded_nom_matrix

<500000x16276 sparse matrix of type '<class 'numpy.float64'>'
	with 5000000 stored elements in Compressed Sparse Row format>

In [69]:
# 희소 행렬과 COO, CSR 형식

# 대부분 값이 0으로 채워진 행렬을 희소(sparse matrix) 행렬이라고 한다.

# 반대로 대부분 값이 0이 아닌 값으로 채워진 행렬을 밀집 행렬(dense matrix)라고 한다.

# 원-핫 인코딩을 적용하면 희소 행렬을 만든다. ==> 메모리 낭비가 심해진다.

# 개선 위하여 행렬형식을 COO(coordinate list) 형식과 CSR(compressed sparse row) 형식이 있다.

# 희소 행렬을 COO 형식이나 CSR 형식으로 표현하면 메모리 낭비를 줄일 수 있다.

# CSR 형식이 메모리를 더 적게 쓰고 연산이 더 빠르다.

In [70]:
# 명목형 피처의 원-핫 인코딩한 결과를 encoded_nom_matrix 에 저장했다. 이는 CSR 형식의 행렬이다.

all_data = all_data.drop(nom_features , axis =1) # 기존 명목형 피처 삭제

# encoded_nom_matrix 와 추후 합칠거기 때문

In [71]:
date_features = ['day',  'month'] # 날짜 피처

# 원-핫 인코딩 적용

encoded_date_matrix = onehot_encoder.fit_transform(all_data[date_features])

all_data = all_data.drop(date_features , axis= 1)  # 기존 날짜 피처 삭제

encoded_date_matrix

# 원-핫 인코딩된 행렬 크기는 500000*19 이다. day 피처 고윳값은 7개 , month 피처 고윳값은 12개라서 인코딩 이후 열이 총 19개가 되었다.

<500000x19 sparse matrix of type '<class 'numpy.float64'>'
	with 1000000 stored elements in Compressed Sparse Row format>

## 피처 스케일링

In [72]:
# 피처 스케일링이란 서로 다른 피처들의 값의 범위가 일치하도록 조정하는 작업이다.

# 피처 스케일링이 필요한 이유는 수치형 피처들의 유효 값 범위가 서로 다르면 훈련이 제대로 안 될 수 도 있기 때문이다.

# 이진 , 명목형 , 날짜 피처를 모두 0과 1로 인코딩하였다. 하지만 , 순서형 피처는 여러 가지 값을 갖고 있으므로 순서형
#피처의 값 범위도 0~1 사이가 되도록 스케일링 해주어야한다.

## 순서형 피처 스케일링

In [73]:
# 다른 피처들과 범위를 맞추기 위해 순서형 피처에 min-max 정규화를 적용한다. min-max 정규화는 피처값의 범위를 0~1로 조정한다.

In [74]:
from sklearn.preprocessing import MinMaxScaler

ord_features = ['ord_' + str(i) for i in range(6)] # 순서형 피처

# min-max 정규화

all_data[ord_features] = MinMaxScaler().fit_transform(all_data[ord_features])

all_data

,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5
id,,,,,,,,,,,
0,0,0,0,1,1,0.5,1.00,0.2,0.500000,0.12,0.712042
1,0,1,0,1,1,0.0,1.00,0.6,0.000000,0.00,0.486911
2,0,0,0,0,1,0.0,0.50,1.0,0.500000,0.68,0.162304
3,0,1,0,0,1,0.0,1.00,0.8,0.571429,0.12,0.701571
4,0,0,0,0,0,0.0,1.00,0.0,0.000000,0.68,0.827225
...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,0,0,0.0,0.00,1.0,0.642857,0.00,0.130890
499996,1,0,0,0,1,0.0,0.25,1.0,0.357143,0.72,0.089005
499997,0,1,1,1,1,0.0,0.00,0.8,0.428571,0.84,0.345550
499998,1,0,0,1,1,0.5,1.00,0.8,0.428571,0.92,0.429319
499999,0,0,0,1,1,0.5,0.00,0.0,0.785714,0.36,0.596859

## 인코딩 및 스케일링된 피처 합치기

In [75]:
# 현재 all_data에는 이진 피처와 순서형 피처가 인코딩돼 있다. 명목형 피처와 날짜 피처는 원-핫 인코딩되어
# 각각 encoded_nom_matrix 와 encoded_date_matrix에 저장돼 있다.

#이 3가지의 데이터를 합쳐야한다.

# encoded_nom_matrix와 encoded_date_matrix는 CSR 형식으로 서로 맞추어야한다.

# SCIPY의 csr_matrix()는 전달받은 데이터를 CSR 형식으로 바꿔준다.

from scipy import sparse

all_data_sprs = sparse.hstack([sparse.csr_matrix(all_data) ,
                               encoded_nom_matrix,
                               encoded_date_matrix],
                              format='csr')
# hstack()은 행렬을 수평 방향으로 합친다.
# format = 'csr'을 전달하면 합친 결과를 CSR 형식으로 반환한다.(기본값은 COO 형식이다.)

all_data_sprs

# 이 정도 크기를 DATAFRAME 으로 처리하면 메모리 소모가 심하고 훈련 속도도 떨어진다.

# 따라서 DataFrame으로 변환하지 않고 CSR 형식을 그대로 사용한다.

<500000x16306 sparse matrix of type '<class 'numpy.float64'>'
	with 9163718 stored elements in Compressed Sparse Row format>

## 데이터 나누기

In [76]:
num_train = len(train) # 훈련 데이터 개수

# 훈련 데이터와 테스트 데이터 나누기

X_train = all_data_sprs[:num_train] # 0 ~ num_train -1 행
X_test = all_data_sprs[num_train :] # num_train ~ 마지막 행

y = train['target']

In [77]:
from sklearn.model_selection import train_test_split

# 훈련 데이터, 검증 데이터 분리

X_train , X_valid , y_train , y_valid = train_test_split(X_train, y , test_size=0.1 , stratify=y, random_state= 10)

## 하이퍼파라미터 최적화

In [78]:
%time # 해당 셀 실행 후 소요 시간을 출력해 주는 기능이다. # 맨처음에 있어야한다.
# 로지스틱 회귀는 선형 회귀 방식을 응용해 분류 문제에 적용한 모델이다. 비록 분류 문제에 사용되는 모델이지만 훈련 원리는
# 선형 회귀 모델과 유사하다.

# 모델을 생성하고 평가지표를 ROC AUC로 지정해 그리드서치를 수행한다.




from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

# 로지스틱 회귀 모델 생성

logistic_model = LogisticRegression()

# 하이퍼파라미터 값 목록

lr_params = {'C' : [0.1 , 0.125, 0.2] , 'max_iter' : [800,900,1000] ,
             'solver' : ['liblinear'] , 'random_state' : [42]}

# 그리드서치 객체 생성

gridsearch_logistic_model = GridSearchCV(estimator= logistic_model , param_grid=lr_params,
                                         scoring = 'roc_auc', # 평가지표
                                        cv = 5 )

# 그리드서치 수행

gridsearch_logistic_model.fit(X_train, y_train)

print('최적 하이퍼파라미터 : ' , gridsearch_logistic_model.best_params_)

Wall time: 0 ns
최적 하이퍼파라미터 :  {'C': 0.125, 'max_iter': 800, 'random_state': 42, 'solver': 'liblinear'}

## 모델 성능 검증

In [79]:
# 최적 하이퍼파라미터를 찾았으니 모델 성능이 얼마나 개선되었는지 확인해보아야한다.

# 베이스라인처럼 검증 데이터로 모델 성능을 검증해본다.

# 먼저 검증 데이터로 타깃 예측값을 구한다.

y_valid_preds = gridsearch_logistic_model.predict_proba(X_valid)[:,1]

In [80]:
from sklearn.metrics import roc_auc_score # ROC AUC 점수 계산 함수

# 검증 데이터 ROC AUC

roc_auc = roc_auc_score(y_valid , y_valid_preds)

print(f'검증 데이터 ROC AUC : {roc_auc : .4f}')

검증 데이터 ROC AUC :  0.8045

In [81]:
# 타깃값 1일 확률 예측

y_preds = gridsearch_logistic_model.best_estimator_.predict_proba(X_test)[:,1]

# 제출 파일 생성

submission['target'] = y_preds
submission.to_csv('submission_2.csv')

In [82]:
submission

          target
id
300000  0.345134
300001  0.695204
300002  0.112032
300003  0.471909
300004  0.857002
...          ...
499995  0.285775
499996  0.146450
499997  0.332897
499998  0.572511
499999  0.200377

[200000 rows x 1 columns]