In [41]:
import itertools
import platform
import matplotlib
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import seaborn as sns
%precision 3
from matplotlib import pyplot as plt
%matplotlib inline
#그래프를 주피터 놋북에 그리기 위해
import numpy as np
import copy
from matplotlib import ticker
from scipy.stats import probplot
from scipy import stats
import collections
import itertools
import math
#from varname import nameof
import sys
from scipy import stats
from scipy.stats import bernoulli
import scipy
from collections import deque
from sympy import Symbol, solve
import matplotlib.patches as patches


##################머신러닝 모듈 ################

from sklearn.model_selection import train_test_split #사이킷런 import
from sklearn.linear_model import LinearRegression

#히스토그램 그리기
# Window
if platform.system() == 'Windows':
    matplotlib.rc('font', family='Malgun Gothic')
elif platform.system() == 'Darwin': # Mac
    matplotlib.rc('font', family='AppleGothic')
else: #linux
    matplotlib.rc('font', family='NanumGothic')

# 그래프에 마이너스 표시가 되도록 변경
matplotlib.rcParams['axes.unicode_minus'] = False

# 한글 폰트 설정
font_location = 'C:/Windows/Fonts/MALGUNSL.TTF' #맑은고딕
font_name = font_manager.FontProperties(fname=font_location).get_name()
rc('font',family=font_name)

In [42]:
file_url = "https://media.githubusercontent.com/media/musthave-ML10/data_source/main/car.csv"

data = pd.read_csv(file_url , skipinitialspace= True) #빈칸 모두 제거

data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [44]:
round(data.describe() , 2)

          year  selling_price   km_driven    seats
count  8128.00        8128.00     8128.00  7907.00
mean   2013.80      638271.81    69819.51     5.42
std       4.04      806253.40    56550.55     0.96
min    1983.00       29999.00        1.00     2.00
25%    2011.00      254999.00    35000.00     5.00
50%    2015.00      450000.00    60000.00     5.00
75%    2017.00      675000.00    98000.00     5.00
max    2020.00    10000000.00  2360457.00    14.00

In [45]:
data['engine']

0       1248 CC
1       1498 CC
2       1497 CC
3       1396 CC
4       1298 CC
         ...
8123    1197 CC
8124    1493 CC
8125    1248 CC
8126    1396 CC
8127    1396 CC
Name: engine, Length: 8128, dtype: object

In [46]:
data['engine'].str.split(expand = True) # 컬럼 하나씩만 인덱싱 해준다.
#공백 기준으로 문자를 분할하여 별도의 변수로 출력

         0   1
0     1248  CC
1     1498  CC
2     1497  CC
3     1396  CC
4     1298  CC
...    ...  ..
8123  1197  CC
8124  1493  CC
8125  1248  CC
8126  1396  CC
8127  1396  CC

[8128 rows x 2 columns]

In [47]:
data['engine_unit']

KeyError: 'engine_unit'

In [48]:
data[['engine' , 'engine_unit']] = data['engine'].str.split(expand = True)

# 분할된 문자들을 새로운 변수들로 저장

data['engine'].head()

0    1248
1    1498
2    1497
3    1396
4    1298
Name: engine, dtype: object

In [49]:
data['engine'] = data['engine'].astype('float32') # 숫자형 변수로 변환

In [50]:
data['engine'].head()

0    1248.0
1    1498.0
2    1497.0
3    1396.0
4    1298.0
Name: engine, dtype: float32

In [51]:
data['engine_unit'].value_counts()

CC    7907
Name: engine_unit, dtype: int64

In [52]:
data['engine_unit'].unique()

array(['CC', nan], dtype=object)

In [53]:
data.drop('engine_unit' , axis = 1 , inplace =True) #CC라는 값만 한 가지 존재하여 해당 컬럼 제거

In [54]:
data['max_power']

0           74 bhp
1       103.52 bhp
2           78 bhp
3           90 bhp
4         88.2 bhp
           ...
8123     82.85 bhp
8124       110 bhp
8125      73.9 bhp
8126        70 bhp
8127        70 bhp
Name: max_power, Length: 8128, dtype: object

In [55]:
data[['max_power' , 'max_power_unit']] = data['max_power'].str.split(expand = True)
# 분할된 문자들을 새로운 변수들로 저장

In [56]:
data['max_power'].head()

0        74
1    103.52
2        78
3        90
4      88.2
Name: max_power, dtype: object

In [57]:
data['max_power_unit'].head()

0    bhp
1    bhp
2    bhp
3    bhp
4    bhp
Name: max_power_unit, dtype: object

In [58]:
data['max_power'] = data['max_power'].astype('float32') # 숫자형 변수로 변환

ValueError: could not convert string to float: 'bhp'

In [59]:
data[data['max_power'] == 'bhp'] #max_power 내에 bhp 문자가 있는지 확인

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,max_power_unit
4933,Maruti Omni CNG,2000,80000,100000,CNG,Individual,Manual,Second Owner,10.9 km/kg,796.0,bhp,NaN,8.0,None

In [60]:
def isFloat(value): # 함수 정의
    try : # 시도
        num = float(value) # 값을 숫자로 변환
        return num # 변환된 값 리턴

    except ValueError: # try에서 ValueError가 난 경우
        return np.NaN # np.NaN 리턴

In [61]:
data['max_power'] = data['max_power'].apply(isFloat)

In [62]:
data['max_power_unit'].unique()

array(['bhp', nan, None], dtype=object)

In [63]:
data.drop('max_power_unit' , axis =1 , inplace =True)

In [64]:
data[['mileage' , 'mileage_unit']] = data['mileage'].str.split(expand = True)

# 분할된 문자들을 새로운 변수들로 저장

In [65]:
data['mileage'] = data['mileage'].astype('float32')

In [66]:
data['mileage_unit'].unique()

array(['kmpl', 'km/kg', nan], dtype=object)

In [67]:
data['fuel'].unique()

# Petrol : 리터당 80.43$
# Diesel : 리터당 73.56$
# LPG : 킬로그램당 40.85$
# CNG : 킬로그램당 44.23$

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [68]:
def mile(x) :
    if x['fuel'] == 'Petrol':
        return x['mileage'] / 80.43
    elif x['fuel'] == 'Diesel':
        return x['mileage'] / 73.56
    elif x['fuel'] == 'LG':
        return x['mileage'] / 40.85
    elif x['fuel'] == 'CNG':
        return x['mileage'] / 44.23

In [69]:
data[['fuel' ,'mileage']]

        fuel    mileage
0     Diesel  23.400000
1     Diesel  21.139999
2     Petrol  17.700001
3     Diesel  23.000000
4     Petrol  16.100000
...      ...        ...
8123  Petrol  18.500000
8124  Diesel  16.799999
8125  Diesel  19.299999
8126  Diesel  23.570000
8127  Diesel  23.570000

[8128 rows x 2 columns]

In [70]:
data['mileage'] = data.apply(mile , axis=1) # mile 함수로 마일리지 수정
data[['fuel' ,'mileage']]

        fuel   mileage
0     Diesel  0.318108
1     Diesel  0.287384
2     Petrol  0.220067
3     Diesel  0.312670
4     Petrol  0.200174
...      ...       ...
8123  Petrol  0.230014
8124  Diesel  0.228385
8125  Diesel  0.262371
8126  Diesel  0.320419
8127  Diesel  0.320419

[8128 rows x 2 columns]

In [71]:
data.drop('mileage_unit' , axis = 1 , inplace =True)

In [72]:
data['torque'].head()

0              190Nm@ 2000rpm
1         250Nm@ 1500-2500rpm
2       12.7@ 2,700(kgm@ rpm)
3    22.4 kgm at 1750-2750rpm
4       11.5@ 4,500(kgm@ rpm)
Name: torque, dtype: object

In [73]:
data['torque'] = data['torque'].str.upper() # torque 변수 대문자로 변환

In [74]:
data['torque']

0                  190NM@ 2000RPM
1             250NM@ 1500-2500RPM
2           12.7@ 2,700(KGM@ RPM)
3        22.4 KGM AT 1750-2750RPM
4           11.5@ 4,500(KGM@ RPM)
                  ...
8123             113.7NM@ 4000RPM
8124    24@ 1,900-2,750(KGM@ RPM)
8125               190NM@ 2000RPM
8126          140NM@ 1800-3000RPM
8127          140NM@ 1800-3000RPM
Name: torque, Length: 8128, dtype: object

In [75]:
def torque_unit(x):
    if 'NM' in str(x):
        return 'NM'
    elif 'KGM' in str(x):
        return 'kgm'


data['torque_unit'] = data['torque'].apply(torque_unit)

data[['torque' , 'torque_unit']]

                         torque torque_unit
0                190NM@ 2000RPM          NM
1           250NM@ 1500-2500RPM          NM
2         12.7@ 2,700(KGM@ RPM)         kgm
3      22.4 KGM AT 1750-2750RPM         kgm
4         11.5@ 4,500(KGM@ RPM)         kgm
...                         ...         ...
8123           113.7NM@ 4000RPM          NM
8124  24@ 1,900-2,750(KGM@ RPM)         kgm
8125             190NM@ 2000RPM          NM
8126        140NM@ 1800-3000RPM          NM
8127        140NM@ 1800-3000RPM          NM

[8128 rows x 2 columns]

In [76]:
data['torque_unit'].unique()

array(['NM', 'kgm', None], dtype=object)

In [80]:
data['torque_unit'].isna()
data[data['torque_unit'].isna()]
data[data['torque_unit'].isna()]['torque'].unique() # torque_unit이 NULL 값인 행의 'torque' 열의 고윳값 출력

array([nan, '250@ 1250-5000RPM', '510@ 1600-2400', '110(11.2)@ 4800',
       '210 / 1900'], dtype=object)